body{
    margin: 0;
    padding: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    width: 100%;
    height: 90px;
    background-color: rgba(25, 3, 112, 1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

#logo{
    width: 200px;
    height: 90px;
    /* margin: 0px 0px 0px 10px; */
    padding-left: 10px;

    background-image: url(assets/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
}   

#logo:hover{ 
    background-image: url(Assets/logo-hover.png);
}

.nav-button{
    padding-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-button img:hover{
    content: url(Assets/icon/menu-after.png);
    cursor: pointer;
    position: relative;
    left: 15px; 
}

.nav-button:hover .navigation{
    display: block;
    cursor: pointer;
}

.navigation{
    display: none;
    width: 12%;
    position: absolute;
    top: 90px;
    right: 1px;
    background-color: black;
    border: solid rgb(152, 71, 255);
    border-width: 5px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: 0px 0px 10px 0px rgb(152, 71, 255);
}

.navigation li{
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

.navigation li:hover{
   text-shadow:0px 0px 10px white;
}

.content{
    width: 100%;

    background-color: black;

    padding-top: 90px;
    padding-bottom: 20px;

    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    width: 90%;
}

.box{
    width: 100%;
}

#name{
    width: 100%;
}

#email{
    width: 100%;
}

textarea{
    width: 100%;
    height: 100px;
}

form{
    font-size: 16pt;
}

select{
    font-size: 12pt;
    width: 150px;
}

.confirm_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    color: red;
    font-size: 12pt;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(25, 3, 112, 1);
}

.social-media{
    height: 33%;
}

.social-media img{
    height: 100%;
    margin: 1px;
}

.copyright{
    text-align: center;
    font-weight: bold;
    font-size: 12pt;

    color: white;
}

@media screen and (max-width:969px){
    .navigation{
        width: 20%;
    }

    .navigation li{
        font-size: 2.5vw;
    }
    .content{
        height: calc(100vh - 70px);
    }

    h1{
        font-size: 4vw;
    }

    form{
        font-size: 3vw;
    }
}