body{
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 90px;
    background-color: rgba(25, 3, 112, 1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

#logo{
    width: 200px;
    height: 90px;
    padding-left: 10px;

    background-image: url(Assets/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
}   

#logo:hover{ 
    background-image: url(Assets/logo-hover.png);
}

.nav-button{
    padding-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-button img:hover{
    content: url(Assets/icon/menu-after.png);
    cursor: pointer;
    position: relative;
    left: 15px; 
}

.nav-button:hover .navigation{
    display: block;
    cursor: pointer;
}

.navigation{
    display: none;
    width: 12%;
    position: absolute;
    top: 90px;
    right: 1px;
    background-color: black;
    border: solid rgb(152, 71, 255);
    border-width: 5px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: 0px 0px 10px 0px rgb(152, 71, 255);
}

.navigation li{
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

.navigation li:hover{
   text-shadow:0px 0px 10px white;
}

.content{
    max-width: 100%;
    height: auto;
    padding: 90px 0px 10px 0px;

    background-color: black;
}

.box-banner{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-banner img{
    width: 100%;
}

.box-about-us{
    width: 100%;
    height: auto;
    padding: 50px 0px 50px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about-us{
    width: 80%;
    margin: 0px 50px 0px 50px;
    border-radius: 20px;
    text-align: center;

    font-size: 16pt;
    font-weight: bold;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.container-about-us strong{
    font-size: 25pt;
}

#tombol-aboutus{
    text-decoration: none;
    color: white;
    border: solid white;
    border-radius: 20px;
    background-color:rgba(25, 3, 112, 1);
    padding: 10px;
}

.box-recomended-menu{
    width: 100%;
    height: auto;
    padding: 50px 0px 50px 0px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pembatas{
    object-fit: cover;
}

.pembatas img{
    width: 100%;
}

.menu{
    width: 80%;

    margin: 50px 0px 0px 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.teks-menu{
    width: 50%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: white;
}

.img-menu{
    height: 100%;    
    border-radius: 20px;
}

.box-location{
    
    width: 100%;
    height: auto;
    padding: 50px 0px 50px 0px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.box-location #maps{
    width: 90%;

    margin-top: 20px;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(25, 3, 112, 1);
}

.social-media{
    height: 33%;
}

.social-media img{
    height: 100%;
    margin: 1px;
}

.copyright{
    text-align: center;
    font-weight: bold;
    font-size: 12pt;

    color: white;
}

@media screen and (max-width:969px){
    .navigation{
        width: 20%;
    }

    .navigation li{
        font-size: 2.5vw;
    }

    .menu{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .container-about-us{
        font-size: 3vw;
        text-align: center;
        
    }

    .container-about-us strong{
        font-size: 4vw;
        text-align: center;
        
    }

    .teks-menu{
        width: 100%;
        font-size: 3vw;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .img-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-menu img{
        width: 80%;
    }
}
