body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 90px;
    background-color: rgba(25, 3, 112, 1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

#logo{
    width: 200px;
    height: 90px;
    /* margin: 0px 0px 0px 10px; */
    padding-left: 10px;

    background-image: url(assets/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
}   

#logo:hover{ 
    background-image: url(Assets/logo-hover.png);
}

.nav-button{
    padding-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-button img:hover{
    content: url(Assets/icon/menu-after.png);
    cursor: pointer;
    position: relative;
    left: 15px; 
}

.nav-button:hover .navigation{
    display: block;
    cursor: pointer;
}

.navigation{
    display: none;
    width: 12%;
    position: absolute;
    top: 90px;
    right: 1px;
    background-color: black;
    border: solid rgb(152, 71, 255);
    border-width: 5px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: 0px 0px 10px 0px rgb(152, 71, 255);
}

.navigation li{
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

.navigation li:hover{
   text-shadow:0px 0px 10px white;
}

.content{
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.box-banner{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.image-banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-banner img{
    width: 90%;
}

.box-banner h1{
    width: 100%;

    text-align: center;
    text-decoration: solid;
    color: white
}

.tulisan{
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#story{
    color: white;
}

#history{
    color: white;
}

.assure{
    width: 90%;

    display: flex;
  
    flex-direction: column;
    justify-content: space-around;

    margin-top: 50px;
}

.box-info{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.info{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.foto{
    width: 250px;
    height: 150px;
   
    background-color: grey;
}

.info p{
    width: 200px;
}

.assure h2{
    color: white;
}

#korea{
    height: 30px;
    margin-left: 10px;
    margin-top: 12px;
}

.poin{
    display: flex;
    color: white;
}

.poin h3{
    margin-left: 10px;

}

.info p{
    margin-left: 10px;
    margin-top: 0;

    color: white;
}

.social-media{
    width: 90%;
    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.soc-med{
    width: 100%;
}

.soc-med a{
    text-decoration: none;
    width: 100%;
}

.soc-med img{
    width: 50px;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(25, 3, 112, 1);
}
.social-media1{
    height: 33%;
}

.social-media1 img{
    height: 100%;
    margin: 1px;
}

.copyright{
    text-align: center;
    font-weight: bold;
    font-size: 12pt;

    color: white;
}

@media screen and (max-width: 969px){
    .navigation{
        width: 20%;
    }

    .navigation li{
        font-size: 2.5vw;
    }
    .info{
        margin-right: 20px;
    }
}
